/* widht=1440px,height =1025px
main color= #F5E8DB,  background: lightblue;*/

header {background-color: #F5E8DB;}
header .logo {width: 1440px; margin: 0 auto;}
header .logo a {
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    padding:20px;
}
header .logo a h1 {font-size:3rem;}
header .logo a img {width:50px;}
/* 메뉴목록 ----------------------------------- */
header .nav {
    width:1440px; margin:0 auto;
    text-align: center;
    padding-bottom: 20px;
}
header .nav a {
    padding-right:100px;
    font-size:1.3rem;
    font-weight: 600;
}
header .nav a:last-child {padding:0;}
header .main_wrap {
    height: 800px;
    background: url(../image/bg.jpg);
    background-size: cover;
    margin:0 auto;
}
header .main_wrap a {}
header .main_wrap a h2 {
    color:#fff;
    font-weight: 700;
    font-size:3rem;
    padding:300px 0 0 900px;
}
header .main_wrap a h2 span {
    padding:5px;
    color:lemonchiffon;
    font-weight: 700;
    font-size:3rem;
}
/* main--------------------------------------- */
main {background-color:lightblue; width:1440px; margin:0 auto;}
main .wrap_1 {}
main .wrap_1 h1 {
    padding:20px 0;
    text-align: center;
    font-weight: 700;
    font-size:3rem;
    letter-spacing:-0.02em;
}
main .wrap_1 h1+p {text-align: center; font-weight: 700; font-size:1.5rem;letter-spacing:-0.02em;}
main .wrap_1 ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
main .wrap_1 ul li {
    width:35%;
    margin:40px;
}
main .wrap_1 ul li a {}
main .wrap_1 ul li a img {width:100%}
main .wrap_1 ul li a p {
    padding-top:10px;
    text-align: center;
    font-weight: 700;
    font-size:1.2rem;
    letter-spacing:-0.02em;
}
main .wrap_1 ul li a p span {
    background: lightcoral;
    font-weight: 700;
}
/* main2222---------------------------------- */
main .wrap_2 {}
main .wrap_2 h1 {    
    padding:20px 0;
    text-align: center;
    font-weight: 700;
    font-size:3rem;
    letter-spacing:-0.02em;
}
main .wrap_2 h1+p {text-align: center; font-weight: 700; font-size:1.5rem;letter-spacing:-0.02em;}
main .wrap_2 ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
main .wrap_2 ul li {
    width:35%;
    margin:40px;
}
main .wrap_2 ul li a {}
main .wrap_2 ul li a img {width:100%;}
main .wrap_2 ul li a p {
    padding-top:10px;
    text-align: center;
    font-weight: 700;
    font-size:1.2rem;
    letter-spacing:-0.02em;
}
main .wrap_2 ul li a p span {}
/* main33333----------------------------------- */
main .wrap_3 {} 
main .wrap_3 h1 {
    padding:20px 0;
    text-align: center;
    font-weight: 700;
    font-size:3rem;
    letter-spacing:-0.02em;
} 
main .wrap_3 h1+p {text-align: center; font-weight: 700; font-size:1.5rem;letter-spacing:-0.02em;} 
main .wrap_3 p span {} 
main .wrap_3 ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
} 
main .wrap_3 ul li {
    width:25%;
    margin:20px;
} 
main .wrap_3 ul li a {} 
main .wrap_3 ul li a img {width:100%} 
main .wrap_3 ul li a p {
    padding-top:10px;
    text-align: center;
    font-weight: 700;
    font-size:1.2rem;
    letter-spacing:-0.02em;
}
/* mian btm ------------------------------------- */
main .btm {}
main .btm h2 {}
main .btm p {}
main .btm img {}
main .btm dl {}
main .btm dl dt {}
main .btm dl dd {}
/* footer---------------------------------------- */
footer {background-color: lightcoral;}
footer .ft_wrap {}
footer .ft_wrap a {}
footer .ft_wrap a::after {}
footer address {}